@using Test.Pages.PopUpWindows
@inject IDialogService _dialogService

<div class="active-matches">
    <div class="list-of-active-matches card">
        <div class="active-matches-title">
            <p>АКТИВНЫЕ МАТЧИ</p>
        </div>

        <ul>
            @foreach (var selectEvent in Events)
            {
                <li>
                    <div class="active-matches-bet">
                        <div class="team-left">
                            <div class="team" @onclick="() => ClickEvent(selectEvent)">
                                <div class="logo-team">
                                    <img src="@selectEvent.IdTeam1Navigation.Logo">
                                    <div class="text-place-bet">
                                        СДЕЛАТЬ<br />СТАВКУ
                                    </div>
                                </div>
                                <p class="title">@selectEvent.IdTeam1Navigation.Title</p>
                                <div class="koef">
                                    <p>@(GetCoef1(selectEvent.PossibleBets))</p>
                                    <hr />
                                </div>
                            </div>
                        </div>
                        <div class="main-info">
                            <div class="vs">
                                <p>VS</p>
                            </div>
                            <div class="matches-bet-info">
                                <p class="tournament-title">ESEA Advanced NA</p>
                                <p class="type-bo">BO3</p>
                                <p class="time">@((@DateTime.Now - selectEvent.StartDate).ToString(@"hh\:mm\:ss"))</p>
                            </div>
                        </div>
                        <div class="team-right">
                            <div class="team" @onclick="() => ClickEvent(selectEvent)">
                                <div class="logo-team">
                                    <img src="@selectEvent.IdTeam2Navigation.Logo">
                                    <div class="text-place-bet">
                                        СДЕЛАТЬ<br />СТАВКУ
                                    </div>
                                </div>
                                <p class="title">@selectEvent.IdTeam2Navigation.Title</p>
                                <div class="koef">
                                    <p>@(GetCoef2(selectEvent.PossibleBets))</p>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>







@code {
    [Parameter]
    public HashSet<Event> Events { get; set; }

    [CascadingParameter]
    public Sport SelectSport { get; set; }


    private String GetCoef1(ICollection<PossibleBet> ts)
    {
        var tob = ts.FirstOrDefault(x => x.IdTob == 1);
        return tob is null ? "null" : tob.Coef1.ToString();
    }
    private String GetCoef2(ICollection<PossibleBet> ts)
    {
        var tob = ts.FirstOrDefault(x => x.IdTob == 1);
        return tob is null ? "null" : tob.Coef2.ToString();
    }

    private void ClickEvent(Event selectEvent)
    {
        var parameter = new DialogParameters { { "CurrentEvent", selectEvent } };

        var dialog = _dialogService.Show<SelectBetModal>("Выбор ставки", parameter);
    }
}
