@inject WebService webService

@if (User is not null)
{
    <div class="users-corner">
        <div class="box">
            <div class="card-user">
                <div class="title">
                    <span>ВАШ ПРОФИЛЬ</span>
                </div>
                <div class="back">
                    <span class="title-img">ПРОФИЛЬ</span>
                    <img class="icon-user" src="https://sun9-32.userapi.com/impg/VPwq74YaL_kpjIyjEmpCmINCBR2oAi2d_rtCXg/qz6qG2UFMa8.jpg?size=933x1080&quality=96&sign=b35f69cf132c7dde117b0123dc729b96&type=album" />
                </div>
                <div class="info-for-user">
                    <button class="nav">
                        <NavLink href="userCabinet">
                            Профиль
                        </NavLink>
                    </button>
                    <div class="user-name">
                        @if (User.Name is null && User.Surname is null)
                        {
                            <span>Расскажите о себе</span>
                        }
                        else
                        {
                            <span>@User.Name @User.Surname</span>
                        }
                    </div>
                    <div class="balance">
                        <span>
                            Ваш баланс:<br> @User.Balance Баллов СР
                        </span>
                    </div>
                </div>
            </div>

            <div class="user-capabilities">
                <button class="top-up">ПОПОЛНИТЬ!</button>
                <button class="withdrawal">ВЫВЕСТИ</button>
            </div>

            <div class="history-bids">
                <div class="history-bids-title">
                    @if (_formatUserBets is not null)
                    {
                        
                        <MudGrid>
                            @foreach (var userBet in _formatUserBets)
                            {
                                <MudItem xs="12">
                                    @userBet.ViewEvent
                                </MudItem>
                                <MudItem xs="6">
                                    @userBet.ViewBet
                                </MudItem>
                                <MudItem xs="6">
                                    @userBet.ViewMoney
                                </MudItem>
                            }
                        </MudGrid>


                    }
                </div>
            </div>
        </div>
    </div>
}


@code {



}
