@inherits LayoutComponentBase
@using Test.Pages




<Header OnClickCallback="@AddLoginUser" SportCallBack="@ChangeSelectSport" ></Header>


<CascadingValue Value="@loginUser">
    <CascadingValue Value="@selectSport">
        <div style="margin: 0 auto; max-width: 1240px;">@Body</div>
    </CascadingValue>
</CascadingValue>


<Footer></Footer>


@code
{
    public User loginUser { get; set; }
    public Sport selectSport { get; set; } = new Sport() {Id = 1};
    private void AddLoginUser(User user)
    {
        loginUser = user;
    }

    private void ChangeSelectSport(Sport sport)
    {
        selectSport = sport;
    }
}
